@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
.visual{
    height: 500px;
}
.visual .visual-swiper{
    height: 100%;
}
.visual .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.visual .swiper-slide .text{
    width: 1280px;
    text-align: start;
    background-color: rgba(250, 235, 215, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}